#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  height: 100vh;
  .title {
    text-transform: uppercase;
    font-size: 6rem;
    margin-bottom: 40px;
    font-weight: 300;
  }
  .description {
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 100;
    p {
      text-align: center;
    }
  }
}

.btn-start {
  width: 150px;
}
