.button {
  height: 40px;
  padding: 12px;
  outline: 0;
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  background-color: rgb(187, 67, 59);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    cursor: pointer;
    background-color: rgb(255, 252, 241);
    color: black;
  }
}
